<!DOCTYPE html>
{% extends 'base.html' %}
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup/style.css' %}">
</head>
<body>
    
    {% block content %}
      <div>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            <div class="alert alert-warning alert-dismissable">{{message}}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>

    <section style="height:500px;">
        <h1 style="color: rgb(243, 243, 242);text-align: center;padding: 5%;">Welcome To <br>Income and Expense Manager !!!</h1>
        <div style="text-align: center;">
            <img src="media/th3.jpg" class="img-thumbnail" width="100" height="100">
            <img src="media/th4.jpg" class="img-thumbnail" width="120" height="100">
            <img src="media/th2.jpg" class="img-thumbnail" width="100" height="100">
            <img src="media/th1.jpg" class="img-thumbnail" width="90" height="100">
           
        </div>
       
        <div style="text-align: center;padding: 3%;">
            <a href="/signup/register/" class="button1"><span>Let's Start  </span></a>
        </div>
        
    </section>
    {% endblock %}

</body>
</html>