<!DOCTYPE html>
{% extends 'base1.html' %}
<html lang="en">
<head>
    <title>Expense Update</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="/exp/upd_exp/">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>
                                <div class="alert alert-warning alert-dismissable">{{message}}</div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
                        <div class="card-header" style="background-color: cadetblue;">Update Expense</div>
                        <div class="card-body">
                            <p>Name  <br>  <input type="text" name="expnm" value="{{ exps.expName }}" required/></p> 
                            <p>Category <br>
                                <select name="catg" id="catg">
                                    <option value="{{ exps.category }}" selected> {{ exps.category}} </option>
                                    {% for l in label %}
                                        <option value="{{l}}">{{l}}</option>
                                    {% endfor %}    
                                </select>
                            </p> 
                            <p>Comments  <br>  <input type="text" name="expcmt" value="{{ exps.comments }}" /></p>   
                            <p>Amount<br> <input type="number" name="expamnt" value="{{ exps.amount }}" required/></p>
                            <p>Expense-Date <br> <input type="date" name="expdt" value="{{ exps.date | date:'Y-m-d' }}" required/></p>
                            <input type="hidden" name="id" value="{{ exps.expId }}">
                            <p><button type="submit" id="updexpense" class="btn btn-success">UPDATE</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% endblock %}
</body>
</html>