<!DOCTYPE html>
{% extends 'base1.html' %}
<html lang="en">
<head>
    <title>Goals</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="/goals/add_goal/">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div >
                    <div>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>
                                <div class="alert alert-warning alert-dismissable">{{message}}</div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 80rem;">
                        <img src="/media/img3.jpg" />
                        <div class="card-img-overlay">
                        <div class="card-header" style="background-color: cadetblue;color: black;">Add Goals</div>
                        <div class="card-body" style="color: black;font-weight: bold;">
                            <p>Name <br>  <input type="text" name="glname" required/></p>  
                            <p>Total Amount <br><input type="number" name="glamt" required/></p>
                            <p>Contribution(per month.) <br><input type="number" name="glcont"/></p>
                            <p><button type="submit" id="addgoal" class="btn" style="background-color:cadetblue;">ADD</button></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% endblock %}
</body>
</html>