<!DOCTYPE html>
{% extends 'base1.html' %}
<html lang="en">
<head>
    <title>Goal</title>
</head>
<body>
    {% block content %}
    
    <section style="height: 50px;">
        <a href="/goals/addgoal/" class="btn btn-info" role="button"><i class="fas fa-plus" style="padding: 0.4rem;size: 8px;"></i></a>
    </section>
                              
    <div>
        <div class="card-deck" >
           
            {% for gls in gls %}
                <div class="card shadow-lg p-3 mb-5 rounded">
                           
                        <div class="card-header" style="background-color: indianred;">
                            <h5 style="color:white;">{{ gls.goalName }} 
                                {% for key,value in stat.items %}
                                {% if key == gls.goalId %}
                                    <br><br>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%;">
                                        {{value}}%
                                        </div>
                                    </div>
                                   <h6> Contributed : {{gls.status}}<i class="fas fa-rupee-sign" style="padding: 0.4rem;"></i></h6>
                                {% endif %}
                                {% endfor %}
                                <br>
                                <div class="row">
                                    <div class="col-6">
                                    {% if gls.status != gls.amount %}
                                        <button class="btn" style="margin: 0.4rem;background-color: rgb(58, 180, 42);" onclick='updStat("{{ gls.goalId }}", "{{ gls.count }}" ,"{{ csrf_token }}")'>Contribute</button>
                                    {% else %}
                                    <i class="fas fa-check-circle" style="color: greenyellow;"></i> Goal achived
                          
                                    {% endif %}
                                    </div>
                                    
                                    <div class="col-6">
                                        <button class="btn" style="margin: 0.4rem;background-color: white" onclick='updGoal("{{ gls.goalId }}", "{{ csrf_token }}")'><i class="fas fa-pencil-alt" style="padding: 0.2rem;size: 8px;"></i></button>
                                        <button class="btn" style="margin: 0.4rem;background-color:white;" onclick='delGoal("{{ gls.goalId }}", "{{ csrf_token }}")'><i class="fas fa-trash-alt" style="padding: 0.2rem;size: 8px; "></i></button>
                                    </div>
                                </div>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-rupee-sign" style="padding: 0.4rem;"></i>Amount : {{ gls.amount }}</p>
                            <p class="card-text"><i class="fas fa-calendar-day" style="padding: 0.4rem;"></i>Date : {{ gls.date }}</p>
                            <p class="card-text"><i class="fas fa-clipboard" style="padding: 0.4rem;"></i>Contribution-Frequency : {{ gls.contribution }}<i class="fas fa-rupee-sign" style="padding: 0.4rem;"></i></p>
                       </div>
                    
                </div>
            {% endfor %}  
        </div>     
    </div>
    <br><br>
    {% endblock %}
</body>
</html>