<!DOCTYPE html>
{% extends 'base1.html' %}
<html lang="en">
<head>
    <title>Goals</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="/goals/upd_goal/">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div >
                    <div>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>
                                <div class="alert alert-warning alert-dismissable">{{message}}</div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 80rem;">
                        <img src="/media/img3.jpg" />
                        <div class="card-img-overlay">
                        <div class="card-header" style="background-color: cadetblue;color: black;">Update Goals</div>
                        <div class="card-body" style="color: black;font-weight: bold;">
                            <p>Name    <input type="text" name="glname" value="{{g.goalName}}" required/></p>  
                            <p>Amount <input type="number" name="glamt" value="{{g.amount}}" required/></p>
                            <p>Contribution <input type="number" name="glcont" value="{{g.contribution}}"/></p>
                            <input type="hidden" name="id" value="{{g.goalId}}">
                            <p><button type="submit" id="updgoal" class="btn" style="background-color:cadetblue;">Update</button></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% endblock %}
</body>
</html>