<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="jQuery-plugin-progressbar.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'income/style1.css' %}">
  <script src="{% static 'income/main.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'income/loading-bar.css' %}"/>
  <script type="text/javascript" src="{% static 'income/loading-bar.js' %}"></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    
    <a class="navbar-brand" href="/">logo</a>
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/income/">Incomes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/expense/">Expenses</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Goals</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/expense/report/">Report</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/signup/profile/">Profile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/signup/logout/">Logout</a>
      </li>
    </ul>
  
  
  </nav>

  <div class="container-fluid"><br>
    {% block content %}
    {% endblock %}
  </div>

    <!----------footer------------------->

    <footer class="footer">
      <div class="container">
        <div class="about-us">
          <h2>About Us</h2>
          <p style="color:#686666da;">Here to help you to manage your income and expenses.</p>
        </div>
        <div class="customer-support">
          <h2>Customer Support</h2>
          <a href="/signup/register/">Open an Account</a><br>
          <a href="/signup/login/">Login to your Account</a><br>
          <a href="#">Check your savings.</a>
        </div>
        <div class="contact-us">
          <h2>Contact Us</h2>
          <p style="color:#686666da;"><i class="fas fa-envelope"></i> expenses247@gmail.com</p>
          <p style="color:#686666da;"><i class="fas fa-phone-square"></i> 1890 111 2222</p>
        </div>
        <div class="follow">
          <h2>Follow Us</h2>
          <p style="color:#686666da;">Let us be Social</p>
          <div>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>


